/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 :root {
  --ifm-font-family-base: 'Inter', sans-serif;
  --ifm-color-primary: #0f3661; 
  --ifm-navbar-background-color: #0f3661;
  --ifm-navbar-link-color: #ebeff3;
  border-bottom: 2px solid #ebeff3;
}

/* Dark theme
html[data-theme='dark'] {
  --ifm-color-primary: #0f3661;
  --ifm-background-color: #121212;
  --ifm-color-primary-darker: #121212;
  --ifm-color-primary-lighter: #121212;
  --ifm-font-color-base: #e0e0e0;
  --ifm-navbar-background-color: #0f3661;
  --ifm-footer-background-color: #0f3661;
  --ifm-link-color: #ffcc00;
  border-bottom: 2px solid #121212;
} */

.home-page {
  background-color: #0f3661;  
}

body {
  background-color: #ebeff3;  
}

.navbar a:hover {
  color: #ffcc00; 
}

.navbar__link--active {
  color: #ffcc00; 
}

.main-wrapper {
  margin-top: 1.0rem; 
}

.navbar {
  display: flex;
  align-items: center;
  min-height: 80px; 
}

.navbar__title {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: clip !important;
  word-wrap: break-word;
}

.navbar__brand {
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  margin-right: 4rem;
}

.navbar__items {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar__link {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem; 
  padding: 10 10px;
}

.navbar__logo {
  height: 60px; 
  object-fit: contain;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
}

.navbar__item .dropdown__menu .dropdown__link {
  font-size: 1.2rem;
}

.menu-section-header {
  font-weight: bold;
  pointer-events: none;
  opacity: 1;
}

.theme-doc-sidebar-menu .menu__list .menu__list-item .menu__link.menu__link--sublist {
  font-size: 1.2rem; 
  font-weight: bold; 
}

.menu__list-item-collapsible > .menu__link {
  font-size: 1.5rem; 
  font-weight: bold;
}

.footer {
  background-color: #0f3661;  
}


/* Large screens
@media screen and (min-width: 1024px) {
  .navbar__item {
    padding-right: 10px;
  }
}

/* Medium screens (tablettes) */
/* @media screen and (max-width: 1024px) {
  .navbar__item {
    padding-right: 5px;
  }
} */ 

@media (max-width: 600px) {
  .navbar__logo img {
    height: 40px; 
    width: auto;
  }

  .navbar__title {
    font-size: 1.2rem;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }

  .navbar__link {
    color: #ffffff;
  }
  /* .menu__list--mobile {
    text-align: right; 
  } */
  .menu__list--mobile a:active,
  .menu__list--mobile a:focus,
  .menu__list--mobile .menu__link,
  .menu__list--mobile .navbar__link {
    color: #ffffff;
    text-align: right;   
  } 
}

/* .navbar__item--mobile {
  display: block;
  width: 100%;
  text-align: center;
} */


/* You can override the default Infima variables here. */
/* :root {
  --ifm-color-primary: #151160;
  --ifm-color-primary-dark: #130f56;
  --ifm-color-primary-darker: #120e52;
  --ifm-color-primary-darkest: #0f0c43;
  --ifm-color-primary-light: #17136a;
  --ifm-color-primary-lighter: #18146e;
  --ifm-color-primary-lightest: #1b167d;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
} */

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* [data-theme='dark'] {
  --ifm-color-primary: #151160;
  --ifm-color-primary-dark: #130f56;
  --ifm-color-primary-darker: #120e52;
  --ifm-color-primary-darkest: #0f0c43;
  --ifm-color-primary-light: #17136a;
  --ifm-color-primary-lighter: #18146e;
  --ifm-color-primary-lightest: #1b167d;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */

